<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.manpro">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Manpro"
        tools:targetApi="31">
        <activity
            android:name=".KoleksiWR"
            android:exported="false" />
        <activity
            android:name=".TermsOfService"
            android:exported="false" />
        <activity
            android:name=".ChangeEmail"
            android:exported="false" />
        <activity
            android:name=".ChangePass"
            android:exported="false" />
        <activity
            android:name=".VTHOS"
            android:exported="false" />
        <activity
            android:name=".ViltuarTour2"
            android:exported="false" />
        <activity
            android:name=".ViltuarTour"
            android:exported="false" />
        <activity
            android:name=".FilterRatinggggggg"
            android:exported="false" />
        <activity
            android:name=".FilterRatinggggg"
            android:exported="false" />
        <activity
            android:name=".FilterRatinggg"
            android:exported="false" />
        <activity
            android:name=".Rating"
            android:exported="false" />
        <activity
            android:name=".Bookmark"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword2"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".FilterRating"
            android:exported="false" />
        <activity
            android:name=".FilterJarak"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".DetailMuseum"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Opening"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>